@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

           
           .header-nav {
             gap: 76px;
            
           }
          
           /* heder address  */
        
        .contact-list {
            display: flex;
            gap: 40px;
        }
           .contact-link {
               font-size: 16px;
               line-height: calc(24 / 16);
            }
    
           .contact-item:not(:last-of-type) {
               margin-bottom: 0;
           }
    
             /* ---------section-hero ------------*/
    .service-list {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: var(--gradien-hero),
                url(../images/desk-people-office.jpg);
    }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .service-list {
        background-image: var(--gradien-hero),
            url(../images/desc-people-office-xx.jpg);
    }
}

    .btn-order-service {
        margin-top: 48px;
    }

    /*-------- section the best ----------*/


    .best {
        padding-top: 120px;
        padding-bottom: 120px;
    }
.best-list{
    flex-wrap: nowrap;
    gap: 24px;
}

    .sub-title {
        font-size: 20px;
        line-height: 1.2;
    }

    .best-item {
        width: calc((100% - 72px) / 4);
    }

    .text {
        font-weight: 400;
    }

    .best-item-icon-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 112px;
        margin-bottom: 8px;
        background-color: var(--background-radio-button);
        border-radius: 4px;
    }

    /*------------ section-job------- */


    .exemple {
        display: block;
        padding-bottom: 120px;
    }

    .exemple-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    /* --------section our team -------*/
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-section>.container {
        max-width: 1158px;
    }

    .team-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-card {
        width: calc((100% - 72px) / 4);
    }

    .team-card:nth-child(-n+2) {
        margin-bottom: 0px;
    }

    /*--------------Customers------------------ */
    .customers-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-section>.container {
        max-width: 1158px;
    }

    .customers-list {
        flex-wrap: nowrap;
     gap: 24px;
          }

    .customers-item {
        width: calc((100% - 5*24px) / 6);
    }

/*----------------- footer-------------------------------- */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer>.container {
     max-width: 1158px;
 }

 .last-block {
     flex-wrap: nowrap;
     gap: 0;
     justify-content: center;
 }
 
 .last-logo-block {
    margin: 0;
 }

 .last-social {
     margin-left: 120px;

 }

 .footer-form-block {
     margin-left: 80px;
 }


 .footer-input {
     width: 100%;
 }
 /* -------portfolio-------------- */
  .section-portfolio {
      padding-top: 96px;
      padding-bottom: 120px;
  }
   .filter-list {
      margin-bottom: 72px;
   }
  .work-list { 
      row-gap: 48px;
  }
 .project-card {
     width: calc((100% - 2*24px) / 3);
 }
 }